.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(35, 132, 161);
    padding: 40px;
}

.display-wrapper {
    margin-bottom: 20px;
}

.display {
    height: 30px;
    width: 300px;
    background-color: #fff;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.number-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
    justify-self: center;
    align-self: center;
    color:white;
    background-color: black;
    border-radius: 2em;
    height: 3em;
    width: 3em;
}
