.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(35, 132, 161);
    padding: 40px;
}

.display-wrapper {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 1em;
    height: 3em;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}

.display {
    font-size: larger;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.number-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid {
    gap: 10px;
}

.button {
    justify-self: center;
    align-self: center;
    color:white;
    background-color: black;
    border-radius: 2em;
    height: 3em;
    width: 3em;
}

.button.large {
    height: 6em;
}
