body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    font-size: 3.5vmin;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(35, 132, 161);
    border-radius: 1vmin;
    padding: 6vmin 4vmin;
}

.display-wrapper {
    background-color: #fff;
    margin-bottom: 5vmin;
    border-radius: 1em;
    height: 3em;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}

.display {
    font-size: larger;
}

.button-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5vmin;
}

.grid {
    gap: 2vmin;
}

.number-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operation-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.button {
    justify-self: center;
    align-self: center;
    color:white;
    background-color: black;
    border-radius: 2em;
    height: 3em;
    width: 3em;
}

.button.large {
    height: 6em;
}
